.app {
  min-height: 100vh;
  background-image: url(./assets/images/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-content: center;
  font-family: "Poppins", sans-serif;
}

.outer-card {
  width: min(100vw, 496px);
  position: relative;
  padding: 1rem;
}

.quiz-title {
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  color: #f2f2f2;
  margin-bottom: 10px;
}

.quiz-image {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.inner-card {
  background-color: white;
  padding: 68px 32px 32px;
  border-radius: 24px;
}

.flag-image {
  width: 84px;
  filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.1));
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 28px;
}

.quiz-question {
  font-weight: 700;
  font-size: 24px;
  color: #2f527b;
  margin-bottom: 32px;
}

.quiz-options-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 24px;
}

.quiz-next-question {
  border: none;
  background: #f9a826;
  box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.4);
  border-radius: 12px;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  padding: 15px 36px;
  margin-left: auto;
  display: none;
}

@media (max-width: 464px) {
  .quiz-title {
    text-align: center;
    font-size: 32px;
  }
  .quiz-title.up-title {
    margin-bottom: 80px;
  }
  .quiz-image {
    top: 76px;
    right: 50%;
    transform: translateX(50%);
  }
  .flag-image {
    margin-bottom: 18px;
  }
  .quiz-question {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .quiz-options-container {
    gap: 20px;
  }
}
